body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 테두리 라이브러리 */
.border-red {
  border: 4px solid red;
}

.border-pink {
  border: 4px solid pink;
}

.border-blue {
  border: 4px solid blue;
}

.border-green {
  border: 4px solid green;
}

.border-black {
  border: 4px solid black;
}

.border-gold {
  border: 4px solid gold;
}
/* flex 라이브러리 */
.flex {
  display: flex;
}

.flex-jc-e {
  justify-content: flex-end;
}

.flex-jc-s {
  justify-content: flex-start;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}
.flex-as-c {
  align-self: center;
}
/* 남은 영역 비율 추가 -> 로고와 메뉴 아이템 공백에 사용 */
.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height: 100%;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

.relative {
  position: relative;
}

/* cos */
::selection {
  background-color: #fede22;
}
.con {
  width: 1080px;
}

.con-min-width {
  min-width: 1080px;
}

.txt-al-c {
  text-align: center;
}

.strong {
  font-weight: bold;
}

.black {
  color: black;
}

/* ------------------------ 탑바 시작 ------------------------ */
.top-bar {
  height: 100px;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.top-bar .logo {
  padding: 0 20px;
}

/* 탑바 - 메뉴박스 1 */

.top-bar .menu-box-1 > ul > li > div {
  padding-bottom: 50px;
}
.top-bar .menu-box-1 > ul > li > a {
  font-weight: bold;
  padding: 0 20px;
  position: relative;
}

.top-bar .menu-box-1 ul > li:hover > a {
  text-decoration: underline;
}

.top-bar .menu-box-1 > ul > li > a::after {
  content: '';
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s;
}

.top-bar .menu-box-1 > ul > li:hover > a::after {
  width: 100%;
}

/* 탑바 - 메뉴박스 1 - 2차 메뉴 */
.top-bar .menu-box-1 > ul > li > div {
  left: 0;
  width: 100%;
  background-color: white;
  position: absolute;
  display: none;
  padding-top: 30px;
  /* 2차 메뉴를 top에서 1px내려서 호버 시 1차 메뉴의 bottom 선을 보이게 한다  */
  top: calc(100%+1px);
}

.top-bar .menu-box-1 > ul > li:hover > div {
  display: block;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li {
  width: 20%;
}

.top-bar .menu-box-1 > ul > li:first-child > div > div > ul > li {
  width: 25%;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li > a {
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.top-bar .menu-box-1 > ul > li > div > div > ul > li > ul > li {
  text-align: center;
  padding: 8px 0;
}

/* 탑바 - 서류제출 버튼 */
.top-bar .btn-go-submit {
  background-color: #fede22;
  padding: 15px;
  margin-left: 20px;
  font-weight: bold;
  border-radius: 30px;
}

/* 탑바 - 지구본 아이콘 추가 */
.top-bar .global-logo {
  padding: 0 20px;
  cursor: default;
}

/* 탑바 - 지구본 아이콘 호버효과 */
.top-bar .global-logo:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* ------------------------ 탑바 끝 ------------------------ */

/* ------------------------ 배너시작 ------------------------ */
/* 메인 배너 시작 */

.img-box > img {
  width: 100%;
  display: block;
}
.top-banner-box-1 {
  position: relative;
  margin-top: 100px;
}

/* 메인 배너 - 배경 영역 잡기 */
.top-banner-box-1 > .bg {
  background-color: #ffef6b;
  width: 100%;
  height: 648px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* 메인 배너 - 텍스트 박스 */
.top-banner-box-1 .txt-box {
  position: absolute;
  top: 110px;
  left: 15px;
}
.top-banner-box-1 .txt-box > h1 {
  font-size: 49px;
  line-height: 1.4;
}

.top-banner-box-1 .txt-box > h2 {
  font-size: 16px;
  line-height: 1.95;
  font-weight: 100;
  opacity: 0.7;
}

/* 메인 배너 - 버튼 */
.btns > li > a {
  display: flex;
  width: 178px;
  height: 55px;
  background-color: white;
  text-align: center;
  font-size: 16.2px;
  font-weight: bold;
  border-radius: 12px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.btns > li > a > .ico {
  margin-right: 10px;
}

.top-banner-box-1 .txt-box > .btns {
  margin-top: 50px;
}

/* 버튼 - 아이콘 스프라이트 */
.ico {
  background-color: white;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(https://www.kakaobank.com/static/images/web/img_kabang_220615.png);
}
.bottom-ico-1 {
  background-position: -341px -292px;
}

.bottom-ico-2 {
  background-position: -371px -292px;
}
/* 메인 배너 끝 */
/* ------------------------ 배너 끝 ------------------------ */

/* ------------------------ contents 시작 ------------------------ */
/* parts-2 시작 */
.top-banner-box-type-1 {
  min-height: 500px;
  display: flex;
}

.top-banner-box-type-1 > div:first-child {
  width: 55%;
  display: flex;
  align-items: center;
}

.top-banner-box-type-1 > div:last-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.top-banner-box-type-1-between-pad {
  height: 32px;
  background-color: #fafafa;
}
.img-box {
  text-align: center;
}

.top-banner-box-2 .img-box {
  width: 473px;
  margin-left: 35px;
}

.top-banner-box-2 .txt-box {
  margin-left: 38px;
}

.top-banner-box-type-1 .txt-box > h1 {
  font-size: 40px;
  line-height: 1.35;
}

.top-banner-box-type-1 .txt-box > .des {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}

.top-banner-box-type-1 .txt-box > .btn-box {
  margin-top: 40px;
  display: flex;
}

.top-banner-box-type-1 .txt-box > .btn-box > a:hover {
  text-decoration: underline;
}

.top-banner-box-type-1 .txt-box > .btn-box > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 258px;
  height: 56px;
  font-size: 16px;
  color: #333;
  border-radius: 10px;
}
/* parts-2 끝 */

/* parts-3 시작 */
.top-banner-box-3 .img-box {
  width: 473px;
}

.img-box-1 > img {
  margin-top: 50px;
  width: 400px;
}

.top-banner-box-3 .img-box {
  margin-left: 70px;
  width: 440px;
}
/* js 라이브러리 적용할 작업 */
.top-banner-box-3 .img-box > img {
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1), opacity 1.4s;
  transform: translateX(100%);
  opacity: 0;
}

.top-banner-box-3 .img-box.active > img {
  transform: translateX(0);
  opacity: 1;
}

.top-banner-box-3 .txt-box {
  margin-left: 65px;
}

/* 자식으로 a가 2개인 것 -> 버튼이 2개인 것 */
.top-banner-box-type-1 .txt-box > .btn-box > a:not(:only-child) {
  width: 158px;
  margin-right: 10px;
}
/* parts-3 끝 */

/* parts-4 시작 */
.top-banner-box-4 .img-box {
  width: 459px;
  margin-left: 60px;
}

.top-banner-box-4 .txt-box {
  margin-left: 38px;
}

/* parts-4 끝 */

/* parts-5 시작 */
.top-banner-box-5 .img-box {
  width: 492px;
  margin-right: 5px;
}

.top-banner-box-5 .txt-box {
  margin-left: 130px;
}
/* js 라이브러리 적용할 작업 */
.top-banner-box-6 .img-box > img {
  transition: transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1), opacity 1.4s;
  transform: translatey(100%);
  opacity: 0;
}

.top-banner-box-6 .img-box.active > img {
  transform: translatey(0);
  opacity: 1;
}
/* parts-5 끝 */

/* parts-6 시작 */
.top-banner-box-6 .img-box {
  width: 408px;
  margin-left: 78px;
}

.top-banner-box-5 .txt-box {
  margin-left: 38px;
}

.top-banner-box-6-map {
  background-image: url(https://www.kakaobank.com/static/images/web/home_map.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

/* parts-6 끝 */
/* ------------------------ contents 끝 ------------------------ */

/* ------------------------ 체크카드 박스 시작 ------------------------ */
/* 체크카드 박스 시작 */
.checkcard-box {
  padding-top: 150px;
}

.checkcard-box h1 {
  font-size: 40px;
  line-height: 1.35;
}

.checkcard-box > .con > .des {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}
.checkcard-box > .con > .btn-box {
  display: flex;
  justify-content: center;
}
.checkcard-box > .con > .btn-box > a {
  margin-top: 30px;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 285px;
  height: 56px;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkcard-box > .con > .btn-box > a:hover {
  text-decoration: underline;
}

.checkcard-box .slider-box-1 {
  margin-top: 120px;
  position: relative;
}

.checkcard-box .slider-box-1 > .slides {
  display: flex;
  justify-content: center;
}

.checkcard-box .slider-box-1 > .slides > div > img {
  width: 240px;
}
.checkcard-box .slider-box-1 > .slides > .center {
  transform: scale(1.2);
  margin-left: -20px;
  margin-right: -20px;
}

.checkcard-box .slider-box-1 > .arrows > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  cursor: pointer;
}

.checkcard-box .slider-box-1 > .arrows > div:last-child {
  left: auto;
  right: 30px;
}
.checkcard-box .slider-box-1 > .arrows > div:active {
  transform: translateY(-40%);
}
/* 슬라이드 효과 시작 */
.checkcard-box {
  padding-top: 150px;
}

.checkcard-box .slider-box-1 {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.checkcard-box .slider-box-1 .slick .item {
  transition: transform 0.3s;
}

.checkcard-box .slider-box-1 .slick .item > .img-box {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* 가운데 이미지 효과적용 -> slick-center */
.checkcard-box .slider-box-1 .slick .item.slick-center {
  transform: scale(1.3);
}
.checkcard-box .slider-box-1 .arrows > .btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 30px);
  cursor: pointer;
}

.checkcard-box .slider-box-1 .arrows > .btn-arrow:active {
  transform: translateY(-40%);
}

.checkcard-box .slider-box-1 .arrows > .btn-arrow.btn-arrow-right {
  left: calc(100% + 30px);
  right: auto;
}
/* 슬라이드 효과 끝 */

/* 체크카드 박스 끝 */
/* ------------------------ 체크카드 박스 끝 ------------------------ */

/* ------------------------ 대출박스 시작 ------------------------ */
/* 대출박스 시작 */

/* 배경 시작 */
/* 하늘 만들기 시작 */
.loan-box {
  padding-top: 150px;
  background-color: #333b58;
  position: relative;
  color: white;
}

.loan-box > .sky {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.loan-box > .sky > .blue {
  background-color: #559cde;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 0.5s;
}
.loan-box.active > .sky > .blue {
  height: 0;
}
.con {
  position: relative;
  z-index: 1;
}

/* 하늘 만들기 끝 */
/* 해와 달 만들기 시작 */
.loan-box > .sky > .moon {
  width: 112px;
  height: 112px;
  position: absolute;
  top: 55px;
  left: calc(50% + 455px);
  overflow: hidden;
}

.loan-box > .sky > .moon > .base {
  width: 110px;
  height: 110px;
  background-color: #ffdc00;
  border-radius: 50%;
  transition: background-color 1s;
}

.loan-box > .sky > .moon > .shadow {
  width: 100%;
  height: 100%;
  background-color: #333b58;
  position: absolute;
  top: -100%;
  left: -100%;
  border-radius: 50%;
  transition: top 0.5s 0.3s, left 0.5s 0.3s;
}

.loan-box.active > .sky > .moon > .shadow {
  top: -25%;
  left: -25%;
}

.loan-box.active > .sky > .moon > .base {
  background-color: white;
}
/* 해와 달 만들기 끝 */

/* 별 만들기 시작 */
.ico-star {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
}
.sky .ico-star-1 {
  top: 30%;
  left: 10%;
}

.sky .ico-star-2 {
  top: 10%;
  left: 20%;
}

.sky .ico-star-3 {
  top: 25%;
  left: 15%;
}

.sky .ico-star-4 {
  top: 40%;
  right: 15%;
}

.sky .ico-star-5 {
  top: 43%;
  right: 30%;
}

.sky .ico-star-6 {
  top: 73%;
  right: 27%;
}

.sky .ico-star-7 {
  top: 65%;
  left: 22%;
}

@keyframes clittering {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.ico-star-1 {
  animation: clittering 2s infinite;
}

.ico-star-2 {
  animation: clittering 3s infinite;
}

.ico-star-3 {
  animation: clittering 5s infinite;
}

.ico-star-4 {
  animation: clittering 2s infinite;
}

.ico-star-5 {
  animation: clittering 4s infinite;
}

.ico-star-6 {
  animation: clittering 1.8s infinite;
}

.ico-star-7 {
  animation: clittering 3.5s infinite;
}
/* 별 만들기 끝 */

/* 텍스트 박스 시작 */
.loan-box > .con > h1 {
  font-size: 40px;
}

.loan-box > .con > .des {
  font-size: 15px;
  opacity: 0.6;
  margin-top: 20px;
}
/* 텍스트 박스 끝 */
/* 텍스트 박스 메뉴 시작 */
.loan-box > .con > .menu-box-1 > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.09);
  width: 166px;
  height: 52px;
  font-size: 16px;
  border-radius: 10px;
}

.loan-box > .con > .menu-box-1 > ul > li > a:hover > span {
  text-decoration: underline;
}

.loan-box > .con > .menu-box-1 {
  margin-top: 25px;
}

.loan-box > .con > .menu-box-1 > ul > li {
  margin: 0 3px;
}
/* 텍스트 박스 메뉴 끝 */
/* 이미지 시작 */
.loan-box > .con > .img-box-1 > img {
  width: 429px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.loan-box > .con > .img-box-1 {
  margin-top: 20px;
}
/* 이미지 끝 */
/* 배경 끝 */
/* 대출박스 끝 */
/* ------------------------ 대출박스 끝 ------------------------ */

/* ------------------------ it 박스 시작 ------------------------ */
/* itskill-box 시작 */
.itskill-box {
  padding-top: 120px;
  background-color: #f9f9f9;
}
.itskill-box > .con > .underline {
  margin-top: 50px;
  height: 2px;
  display: flex;
  justify-content: center;
}

.itskill-box > .con > .underline::after {
  content: '';
  height: 100%;
  width: 100px;
  display: block;
  background-color: black;
}
.itskill-box > .con > .info-box {
  margin-top: 125px;
}

.itskill-box > .con > .info-box > img {
  display: block;
}
.itskill-box > .con > .info-box > ul > li {
  width: 285px;
}
.itskill-box > .con > .info-box > ul > li:nth-child(2) {
  margin-left: -9px;
}
.itskill-box > .con > .info-box > ul > li > h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;
}
.itskill-box > .con > .info-box > ul > li > .des {
  font-size: 14px;
  text-align: center;
  color: #666;
  margin-top: 20px;
  font-weight: 200;
}
/* itskill-box 끝 */
/* ------------------------ it 박스 끝 ------------------------ */

/* ------------------------ footer 시작 ------------------------ */
/* footer 시작 */
.bottom-bar {
  background-color: #eee;
  font-size: 11px;
  font-family: '돋움', dotum, sans-serif;
  padding: 20px 0 16px;
}
/* box-1 */
.bottom-bar .box-1 {
  color: #666;
}

.bottom-bar .box-1 > .menu-box-1 > ul > li {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 10px;
}

.bottom-bar .box-1 > .menu-box-1 > ul > li:hover > a {
  text-decoration: underline;
}
.bottom-bar .box-1 > .menu-box-1 > ul > li.not {
  padding-left: 0;
}
/* box-2 */
.bottom-bar .box-2 {
  color: #888;
  margin-top: 10px;
}
.bottom-bar .box-2 > .rep-contact {
  margin: 0 10px;
}

.bottom-bar .box-2 > .copyright {
  margin-top: 8px;
}
/* box-3 */
.bottom-bar .box-3 {
  margin-top: 15px;
}

.bottom-bar .box-3 > a > span {
  font-size: 13px;
  font-weight: 600;
  color: #666;
  margin-left: 8px;
}
.bottom-bar .box-3 .auth-mark-1 {
  margin-right: 20px;
}

.bottom-bar .box-3 .auth-mark-1 > img {
  width: 48px;
}

.bottom-bar .box-3 .auth-mark-2 > img {
  width: 42px;
}

.ico-2 {
  background-image: url('https://www.kakaobank.com/static/images/web/ico_sns.png');
}
.bottom-bar .box-3 > .menu-box-2 > ul > li > a {
  width: 24px;
  height: 24px;
}

.bottom-bar .box-3 > .menu-box-2 > ul > li > a > span {
  height: 100%;
}
.ico-2.ico-2-facebook {
  background-position: 0 -90px;
}

.ico-2.ico-2-instagram {
  background-position: -191px -138px;
}

.ico-2.ico-2-youtube {
  background-position: -90px -90px;
}

.ico-2.ico-2-blog {
  background-position: -217px -138px;
}

.bottom-bar .box-3 > .menu-box-2 > ul > li {
  margin-left: 10px;
}
/* footer 끝 */
/* ------------------------ footer 끝 ------------------------ */
