body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 테두리 라이브러리 */
.border-red {
  border: 4px solid red;
}

.border-pink {
  border: 4px solid pink;
}

.border-blue {
  border: 4px solid blue;
}

.border-green {
  border: 4px solid green;
}

.border-black {
  border: 4px solid black;
}

.border-gold {
  border: 4px solid gold;
}
/* flex 라이브러리 */
.flex {
  display: flex;
}

.flex-jc-e {
  justify-content: flex-end;
}

.flex-jc-s {
  justify-content: flex-start;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}
.flex-as-c {
  align-self: center;
}
/* 남은 영역 비율 추가 -> 로고와 메뉴 아이템 공백에 사용 */
.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height: 100%;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

.relative {
  position: relative;
}

/* cos */
.con {
  width: 1080px;
}

.con-min-width {
  min-width: 1080px;
}

/* 대출박스 시작 */

/* 배경 시작 */
/* 라이브러리 임시 테스트용 h1 */
h1{
  height: 500px;
}
.loan-box{
    background-color: #333b58;
    height: 500px;
    position: relative;
}

.loan-box > .sky{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.loan-box > .sky > .blue{
    background-color: #559cde;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: height .5s;
}
.loan-box.active > .sky > .blue{
  height: 0;
}
.con{
  position: relative;
}

.loan-box > .sky > .moon {
  width: 112px;
  height: 112px;
  position: absolute;
  top: 120px;
  left: calc(50% + 300px);
}

.loan-box > .sky > .moon > .base {
  width: 110px;
  height: 110px;
  background-color: #ffdc00;
  border-radius: 50%;
  transition: background-color 1s;
}

.loan-box > .sky > .moon > .shadow {
  width: 100%;
  height: 100%;
  background-color: #333b58;
  position: absolute;
  top: -100%;
  left: -100%;
  border-radius: 50%;
  transition: top .5s .3s, left .5s .3s;
}

.loan-box.active > .sky > .moon > .shadow {
  top: -25%;
  left: -25%;
}

.loan-box.active > .sky > .moon > .base {
  background-color: white;
}
/* 배경 끝 */
/* 대출박스 끝 */