body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 테두리 라이브러리 */
.border-red {
  border: 4px solid red;
}

.border-pink {
  border: 4px solid pink;
}

.border-blue {
  border: 4px solid blue;
}

.border-green {
  border: 4px solid green;
}

.border-black {
  border: 4px solid black;
}

.border-gold {
  border: 4px solid gold;
}
/* flex 라이브러리 */
.flex {
  display: flex;
}

.flex-jc-e {
  justify-content: flex-end;
}

.flex-jc-s {
  justify-content: flex-start;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}
.flex-as-c {
  align-self: center;
}
/* 남은 영역 비율 추가 -> 로고와 메뉴 아이템 공백에 사용 */
.flex-grow-1 {
  flex-grow: 1;
}

.height-100p {
  height: 100%;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  width: 100%;
  display: block;
}

.relative {
  position: relative;
}

/* cos */
::selection {
  background-color: #fede22;
}
.con {
  width: 1080px;
}

.con-min-width {
  min-width: 1080px;
}

.txt-al-c {
  text-align: center;
}

/* 체크카드 박스 시작 */
.checkcard-box {
  padding-top: 150px;
}

.checkcard-box h1 {
  font-size: 40px;
  line-height: 1.35;
}

.checkcard-box > .con > .des {
  margin-top: 24px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
}
.checkcard-box > .con > .btn-box {
  display: flex;
  justify-content: center;
}
.checkcard-box > .con > .btn-box > a {
  margin-top: 30px;
  background-color: #f6f6f6;
  border-radius: 10px;
  width: 285px;
  height: 56px;
  font-size: 16px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkcard-box > .con > .btn-box > a:hover {
  text-decoration: underline;
}

.checkcard-box .slider-box-1 {
  margin-top: 120px;
  position: relative;
}

.checkcard-box .slider-box-1 > .slides {
  display: flex;
  justify-content: center;
}

.checkcard-box .slider-box-1 > .slides > div > img {
  width: 240px;
}
.checkcard-box .slider-box-1 > .slides > .center {
  transform: scale(1.2);
  margin-left: -20px;
  margin-right: -20px;
}

.checkcard-box .slider-box-1 > .arrows > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    cursor: pointer;
}

.checkcard-box .slider-box-1 > .arrows > div:last-child {
    left: auto;
    right: 30px;
}
.checkcard-box .slider-box-1 > .arrows > div:active {
    transform: translateY(-40%);
}
/* 슬라이드 효과 시작 */
.checkcard-box {
  padding-top: 150px;
}

.checkcard-box .slider-box-1 {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.checkcard-box .slider-box-1 .slick .item {
  transition: transform 0.3s;
}

.checkcard-box .slider-box-1 .slick .item > .img-box {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* 가운데 이미지 효과적용 -> slick-center */
.checkcard-box .slider-box-1 .slick .item.slick-center {
  transform: scale(1.3);
}
.checkcard-box .slider-box-1 .arrows > .btn-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% + 30px);
  cursor: pointer;
}

.checkcard-box .slider-box-1 .arrows > .btn-arrow:active {
  transform: translateY(-40%);
}

.checkcard-box .slider-box-1 .arrows > .btn-arrow.btn-arrow-right {
  left: calc(100% + 30px);
  right: auto;
}
/* 슬라이드 효과 끝 */

/* 체크카드 박스 끝 */
